<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Adeshola/workspace/Monosnap_Login/Monosnap_Login/testng.xml"><classes><class name="Login.LoginTests"><methods><include name="testsuccessfullogin"/><include name="testlogout"/><include name="testNegativelogin"/></methods></class></classes></test></suite>